In [3]:
# importing libs

import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [10]:
# load dataset

df = pd.read_excel('E:\Projects\Market_Basket_Analysis\market_basket.xlsx' )
df.head()

,Hair_Conditioner,Lemons,Standard_coffee,Frozen_Chicken_Wings,98pct_Fat_Free_Hamburger,Sugar_Cookies,Onions,Deli_Ham,Dishwasher_Detergent,Beets,...,Salt,Green_Beans,flav_Ice,Imported_Beer,Grits,Apple_Jelly,Beef_Jerky,Potatoes,Small_Eggs,Silver_Cleaner
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.head()

,Hair_Conditioner,Lemons,Standard_coffee,Frozen_Chicken_Wings,98pct_Fat_Free_Hamburger,Sugar_Cookies,Onions,Deli_Ham,Dishwasher_Detergent,Beets,...,Green_Beans,flav_Ice,Imported_Beer,Grits,Apple_Jelly,Beef_Jerky,Potatoes,Small_Eggs,Silver_Cleaner,Description
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [36]:
# functions

def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = df.applymap(encode_units)

In [37]:
# apriori rules

frequent_itemsets = apriori(basket_sets, min_support=0.05, use_colnames=True)

In [38]:
# creating rules

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.sort_values(by= 'confidence',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Potato_Chips),(White_Bread),0.097722,0.119030,0.051433,0.526316,4.421702,0.039801,1.859825
3,(2pct_Milk),(Eggs),0.109478,0.122704,0.052168,0.476510,3.883414,0.038734,1.675861
4,(2pct_Milk),(White_Bread),0.109478,0.119030,0.051433,0.469799,3.946889,0.038402,1.661576
7,(White_Bread),(Eggs),0.119030,0.122704,0.055107,0.462963,3.773010,0.040501,1.633586
6,(Eggs),(White_Bread),0.122704,0.119030,0.055107,0.449102,3.773010,0.040501,1.599152
0,(White_Bread),(Potato_Chips),0.119030,0.097722,0.051433,0.432099,4.421702,0.039801,1.588793
5,(White_Bread),(2pct_Milk),0.119030,0.109478,0.051433,0.432099,3.946889,0.038402,1.568093
2,(Eggs),(2pct_Milk),0.122704,0.109478,0.052168,0.425150,3.883414,0.038734,1.549137

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(White_Bread),(Potato_Chips),0.119030,0.097722,0.051433,0.432099,4.421702,0.039801,1.588793
1,(Potato_Chips),(White_Bread),0.097722,0.119030,0.051433,0.526316,4.421702,0.039801,1.859825
2,(Eggs),(2pct_Milk),0.122704,0.109478,0.052168,0.425150,3.883414,0.038734,1.549137
3,(2pct_Milk),(Eggs),0.109478,0.122704,0.052168,0.476510,3.883414,0.038734,1.675861
4,(2pct_Milk),(White_Bread),0.109478,0.119030,0.051433,0.469799,3.946889,0.038402,1.661576
5,(White_Bread),(2pct_Milk),0.119030,0.109478,0.051433,0.432099,3.946889,0.038402,1.568093
6,(Eggs),(White_Bread),0.122704,0.119030,0.055107,0.449102,3.773010,0.040501,1.599152
7,(White_Bread),(Eggs),0.119030,0.122704,0.055107,0.462963,3.773010,0.040501,1.633586